:host-context(.dark) .fondo {
  background-color: #050508;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 50px,
      rgba(16, 185, 129, 0.08) 50px,
      rgba(16, 185, 129, 0.08) 51px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50px,
      rgba(16, 185, 129, 0.08) 50px,
      rgba(16, 185, 129, 0.08) 51px
    );
}