<div class="flex flex-col gap-16 w-full mx-auto px-4 sm:px-6 lg:px-8 pb-16">
  <!-- CARD @if -->
  <app-directive-card
    [title]="' Flujo condicional'"
    [directiveName]="'@if'"
    [description]="descriptionIf"
    [themeColor]="'purple'"
    [codeExample]="codeIfExample"
    [fileName]="'ejemplo-if.ts'"
    [footerLabel]="'Estado actual'"
    [footerValue]="'isVisibleText: ' + (isVisibleText() ? 'TRUE' : 'FALSE')"
  >
    <button
      (click)="toggleText()"
      [class]="
        isVisibleText()
          ? 'bg-red-500/10 text-red-500 border-red-500/20 hover:bg-red-500/20'
          : 'bg-purple-600 text-white shadow-purple-500/20 hover:bg-purple-500'
      "
      class="group relative w-full sm:w-auto px-8 py-4 rounded-xl font-bold transition-all duration-300 active:scale-95 border flex items-center justify-center gap-3"
    >
      <span>{{ isVisibleText() ? 'Ocultar etiqueta' : 'Mostrar etiqueta' }}</span>
    </button>

    <div class="min-h-[100px] flex items-center">
      @if (isVisibleText()) {
      <div
        class="w-full p-6 rounded-2xl bg-gradient-to-r from-purple-500/10 to-blue-500/10 border border-purple-500/20 backdrop-blur-sm animate-in zoom-in fade-in duration-500"
      >
        <div class="flex items-center gap-4">
          <div class="p-3 bg-purple-500/20 rounded-lg">
            <svg
              class="w-5 h-5 text-purple-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <div>
            <p class="text-white font-semibold">Hola ya me ves !</p>
            <p class="text-xs text-slate-400 italic">
              Muestra o oculta esta etiqueta cuando pulsamos en el enlace anterior.
            </p>
          </div>
        </div>
      </div>
      } @else {
      <div
        class="w-full p-6 rounded-2xl border border-dashed border-white/20 flex flex-col items-center justify-center opacity-40"
      >
        <span class="text-xs font-mono uppercase tracking-widest text-slate-300">DOM Vacio</span>
      </div>
      }
    </div>
  </app-directive-card>

  <!-- CARD @for -->
  <app-directive-card
    [title]="'flujo con iteradorres'"
    [directiveName]="'@for'"
    [description]="descriptionFor"
    [themeColor]="'sky'"
    [codeExample]="codeForExample"
    [fileName]="'collection.html'"
    [footerLabel]="'Nodos generados'"
    [footerValue]="clients().length + ' items'"
  >
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4 auto-rows-fr">
      @for (client of clients(); track client.id) {
      <div class="h-full">
        <app-client-card [client]="client" />
      </div>
      }
    </div>
  </app-directive-card>

  <!-- CARD @switch -->
  <app-directive-card
    [title]="'Casos'"
    [directiveName]="'@switch'"
    [description]="descriptionSwitch"
    [themeColor]="'orange'"
    [codeExample]="codeSwitchExample"
    [fileName]="'switch.ts'"
    [footerLabel]="'Caso activo'"
    [footerValue]="colorSelected || 'Ninguno'"
  >
    <div class="flex gap-4">
      <button
        (click)="colorSelected = 'Azul'"
        class="w-14 h-14 rounded-full bg-blue-600 ring-offset-[#080808] transition-all active:scale-90 hover:scale-105"
        [class.ring-4]="colorSelected === 'Azul'"
        [class.ring-white]="colorSelected === 'Azul'"
      ></button>
      <button
        (click)="colorSelected = 'Rojo'"
        class="w-14 h-14 rounded-full bg-red-600 ring-offset-[#080808] transition-all active:scale-90 hover:scale-105"
        [class.ring-4]="colorSelected === 'Rojo'"
        [class.ring-white]="colorSelected === 'Rojo'"
      ></button>
      <button
        (click)="colorSelected = 'Verde'"
        class="w-14 h-14 rounded-full bg-emerald-600 ring-offset-[#080808] transition-all active:scale-90 hover:scale-105"
        [class.ring-4]="colorSelected === 'Verde'"
        [class.ring-white]="colorSelected === 'Verde'"
      ></button>
    </div>

    <div
      class="p-8 dark:bg-white/2 bg-black/5 border border-black/200 dark:border-white/5 rounded-2xl text-center min-h-30 flex items-center justify-center"
    >
      @switch (colorSelected) { @case ('Azul') {
      <p class="text-blue-400 font-black text-3xl animate-pulse tracking-tighter">AZUL_MODE</p>
      } @case ('Rojo') {
      <p class="text-red-400 font-black text-3xl animate-pulse tracking-tighter">ROJO_MODE</p>
      } @case ('Verde') {
      <p class="text-emerald-400 font-black text-3xl animate-pulse tracking-tighter">VERDE_MODE</p>
      } @default {
      <p class="text-slate-600 font-mono text-xs uppercase tracking-widest">
        Selecciona un color...
      </p>
      } }
    </div>
  </app-directive-card>

    <!-- CARD |Pipes -->
     <app-directive-card
    [title]="'Transformadores'"
    [directiveName]="'@Pipes'"
    [description]="descriptionPipe"
    [themeColor]="'emerald'"
    [codeExample]="codePipeExample"
    [fileName]="'pipes.html'"
    [footerLabel]="'Pipes'"
    [footerValue]="'codePipeExample'"
  >
    <app-pipes-demo [cliente]="cliente" />

  </app-directive-card>
</div>
